<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>Você tem um novo contato: <%= @nome %>!</p>
<p>
  Detalhes do Contato<br>
  --------------------------
</p>
<p>Nome: <%= @nome %></p>
<p>E-mail: <%= @email %></p>
<p>Telefone: <%= @telefone %></p>
<p>
  Mensagem:<br>
  ----------
</p>
<p><%= @mensagem %></p>
</body>
</html>