<!DOCTYPE html>
<html lang="br">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Portfólio TCS</title>
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico"/>
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet"/>
</head>
<body id="page-top">

<%= render 'layouts/nav_main' %>
<!-- Masthead-->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Portfólio de Trabalhos</h1>
        <h2 class="text-uppercase text-white font-weight-bold">Tecnologia e Contrução de Software</h2>
        <hr class="divider my-4"/>
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">Esse portfólio é para apresentar os trabalhos entregues pela
          disciplina</br> Tecnologia e Construção de Software</p>
        <p class="text-white-75 font-weight-light mb-5">Ministrada pela Discente LUCÍLIA GOMES RIBEIRO</p>
        <p class="text-white-75 font-weight-light mb-5">Turma 2021.1-CMP1069/C01</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">O que é um portfólio?</a>
      </div>
    </div>
  </div>
</header>

<%= render 'about' %>
<%= render 'layouts/portfolio' %>
<%= render 'layouts/team' %>
<%= render 'contact' %>
<%= render 'layouts/footer' %>
</body>
</html>