<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase ">Nossa Equipe</h2>
      <h3 class="section-subheading text-muted"></h3>
    </div>
    <div class="row">
      <% @lista_membros.each do |membro| %>
        <div class="col-lg-4">
          <div class="team-member">
            <%= image_pack_tag("#{membro[:foto]}", class: 'mx-auto rounded-circle') %>
            <h4><%= membro[:nome] %></h4>
            <p class="text-muted"><%= membro[:especialidade] %></p>
            <% membro[:social_medias].each do |social_media| %>
              <%= link_to social_media[:link], class: 'btn btn-dark btn-social mx-2', target: '_blank' do %>
                <i class="fab fa-<%= social_media[:icon] %>"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">"Todos são peças importantes no trabalho em equipe, cada um representa uma pequena
          parcela do resultado final, quando um falha, todos devem se unir, para sua reconstrução." Salvador Faria</p></div>
    </div>
  </div>
</section>